.popup_is-opened {
    display: flex;
    align-items: center;
    justify-content: space-around;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: visibility 0s, opacity 0.6s;
}