.elements__name {
    /* display: flex;
    justify-content: flex-start;
    align-self: flex-start; */
    max-width: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
  }