.swiper_our {
    width: 70vw;
    height: 70vh;
    --swiper-theme-color: white;
}

.swiper-slide_our {
    border-radius: 25px;
    margin: auto;
    object-fit: cover;
}

.swiper-slide__img {
    border-radius: 25px;
    margin: auto;
    object-fit: cover;
    width: 100%;
}