.goods__box {
    max-width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 10px auto;
    /* display: grid;
    grid-template-columns: 460px calc(100% - 460px);
    grid-template-rows: min-content;
    gap: 20px; */
}